requests==2.31.0
beautifulsoup4==4.12.3
feedparser==6.0.11
sentence-transformers==2.7.0
faiss-cpu==1.14.2
pdfplumber==0.11.0
groq
streamlit==1.35.0
pandas==2.2.2
python-dotenv==1.0.1
lxml==5.2.2
torch==2.2.0

